<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>EventEX {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ui/css/estilos.css" />
	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	{% block js %}{% endblock %}

</head>

<body>
	<div id="header">
		<h1 class="azul">EventEX</h1>
		<div class="nav">
			<ul>
				<li style="padding-right: 10px; border-right: 1px solid #03bcfd"><a href="{% url home %}" title="Hot Site"{% if home %}class="active"{% endif %}>Home</a></li>
				<li><a href="{% url subscription:subs_new %}" title="Inscrição"{% if inscricao %}class="active"{% endif %}>Inscrição</a></li>
			</ul>
		</div>
		<br class="clear" />
	</div>
	<div id="content">
		{% block content %} {% endblock %}
	</div>
	<div id="footer">
		<p></p>
	</div>
</body>
</html>
